pandas==0.24.2
requests==2.22.0
tqdm==4.32.1
bokeh==1.2.0
boto3==1.9.158
psycopg2-binary==2.8.2
SQLAlchemy==1.3.3
Flask==1.0.3
Flask-Cors==3.0.7
gensim==3.7.3
lxml==4.3.3
pyLDAvis==2.1.2
ratelimit==2.2.1
scikit-learn==0.21.2
scipy==1.3.0
bhtsne==0.1.9
newrelic==2.102.0.85
