Cython==0.29.5
numpy==1.16.1
pandas==0.24.1
requests==2.21.0
tqdm==4.31.1
bokeh==1.0.4
boto3==1.9.96
psycopg2==2.7.7
SQLAlchemy==1.2.18
Flask==1.0.2
Flask-Cors==3.0.7
gensim==3.7.1
lxml==4.3.1
pyLDAvis==2.1.2
ratelimit==2.2.1
scikit-learn==0.20.2
scipy==1.2.1
spacy==2.0.18
bhtsne==0.1.9
newrelic==2.102.0.85
