html, body {
  padding: 0;
  margin: 0;
  cursor: default;
  height: 100%;
  overflow: hidden;
}

.app-container {
  height: 100%;
}

.app-container > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.results-container > .fa-spinner {
  height: 1em;
  margin-top: 1em;
  margin-left: 1em;
}

.result-list .score {
  display: inline-block;
  width: 1.3em;
  border: 2px solid #ccc;
  border-radius: 1em;
  text-align: center;
  padding: 0.1em;
  font-size: 120%;
  line-height: 1.3em;
}

.potential-reviewer-author-of .score,
.potential-reviewer-reviewer-of .score {
  font-size: 80%;
}

.result-list .score,
.node-text {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.nodes .selected g {
  animation: node-pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes node-pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

a {
  cursor: pointer;
}

.tooltip {
  display: block;
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
  font-weight: normal;
}

.chart-container {
  position: relative;
  height: 100%;
}

.node-text {
  fill: #000;
}

.node-unknown circle {
  fill: #fff;
}

.node-manuscript circle {
  fill: #8cc;
}

.node-manuscript-of-corresponding-author circle {
  fill: #488;
}

.node-search circle,
.node-main-manuscript circle {
  fill: #88f;
}

.node-potential-reviewer circle {
  fill: #8f8;
}

.node-early-career-researcher circle {
  fill: #f88;
}

.node-corresponding-author circle {
  fill: #484;
}

.node-corresponding-author.node-early-career-researcher circle {
  fill: #844;
}

.node-corresponding-author .node-text {
  fill: #fff;
}

.node-potential-reviewer .reviewer-duration-indicator {
  fill: #080;
}

.node-corresponding-author .reviewer-duration-indicator {
  fill: #848;
}

.node-early-career-researcher .reviewer-duration-indicator {
  fill: #844;
}


.links line {
  stroke: #999;
}

.svg-container {
  position: absolute;
  height: 100%;
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  display: inline-block;
  height: 100%;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.SplitPane.vertical {
  display: -webkit-flex;
  display: flex;
}

.Pane1 {
  height: 100%;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

.Pane2 {
  overflow-y: scroll;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
}
